@font-face {
  font-family: "expoBold";

  src: local("expoBold"), url("./fonts/Expo Arabic Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ExpoBook";
  src: local("ExpoBook"), url("./fonts/Expo Arabic Book.ttf") format("truetype");
}

@font-face {
  font-family: "ExpoLight";
  src: local("ExpoLight"),
    url("./fonts/Expo Arabic Light.ttf") format("truetype");
}

@font-face {
  font-family: "ExpoMedium";
  src: local("ExpoMedium"),
    url("./fonts/Expo Arabic Medium.ttf ") format("truetype");
}

:root {
  --main_color: #11998e;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  direction: rtl;
}
button,
input {
  outline: none;
}
.logo {
  width: 180px;
  height: 60px;
}
.navBar {
  color: #2f3542;
  height: 100px;
  background: var(--white) no-repeat padding-box;
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.08));
}
.navbar {
  /* --bs-navbar-color: var(--main_color) !important; */
  width: -webkit-fill-available;
}
.navbar-collapse.collapse.show {
  /* height: 100% !important;
background-color: red; */
}
.shapping-to {
  border-color: #adb6bc;
  border-style: none;
  font-family: ExpoLight;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  font-style: normal;

  color: #adb6bc;
}
.shapping p {
  font-family: "ExpoBook";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-style: normal;
  color: #2f3542;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: ExpoLight;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  text-align: left;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #11998e !important;

  border-bottom: 2.5px solid #11998e !important;
  margin-bottom: -35px;
}
.Search,
.Search_search__icon {
  outline: none;
  border: none;
  background: transparent;
  font-size: 16px;
  font-family: ExpoBook;
}

.Search_search {
  background: #fff 0 0 no-repeat padding-box;
  border-color: #e2e2e2;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 287px;
  height: 50px;
}
.Search_search__icon {
  font-size: 16px;
  font-family: ExpoBook;
  width: 44px;
  height: 48px;
  border-radius: 15px;
  background: #11998e !important;
}
.login {
  width: 120px;
  height: 50px;
  border-radius: 15px;
  color: white;
  background: #11998e;
  font-size: 16px;
  border: none;
}

.main {
  margin-top: 123px;
}

.carousel .carousel .slide {
  height: 331px !important ;
}
.carousel-indicators [data-bs-target] {
  width: 18px !important;
  height: 12px !important;
  border-top: unset !important;
  border-bottom: unset !important;
  border-radius: 6px !important;

  background: #ffffff;
}
.carousel-indicators [data-bs-target].active {
  width: 35px !important;
  height: 12px !important;
  border-top: unset !important;
  border-bottom: unset !important;
  border-radius: 6px !important;

  background: #11998e;
}
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}
.card_item {
  width: 160px;
  height: 180px;
  border-color: #e2e2e2;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  background: #ffffff;
}

.card_item p{

font-family: "ExpoBook";
font-size: 16px;
font-weight: 400;
line-height: 16px;
font-style: normal;
color: rgba(67,67,67,0.7 );

}
.BestSaller{
  position: relative;
}
.arrow{
  position: absolute;
  width: 50px;
height: 50px;
opacity: 0.90;
right: 50%;
border-radius: 50%;
background: #11998e;
background: linear-gradient(180deg, 
#11998e 0.00%, 
#188d83 100.00%);
top: -29px;
}
.liner .title{
  white-space: nowrap;
width: 332px;
height: 29px;
font-family: "ExpoBook";
font-size: 20px;
font-weight: 400;
line-height: 28px;
font-style: normal;
text-align: left;
color: rgba(67,67,67,0.8 );
margin-left: 5px;

}
.liner button{
  width: 140px;
height: 44px;
background-color: white;
border-color: #adb6bc;
border-width: 1px;
border-style: solid;
border-radius: 22px;
font-size: 18px;
font-weight: 300;
line-height: 20px;
font-style: normal;
color: #adb6bc;
}
hr{
  margin: .2rem 0 !important;
  height: 1.3px !important;
  border-color: #adb6bc !important;
  border-width: 1.2999999523162842px !important;
  border-style: solid !important;

}
.cardItems{
  width: 254px;
height: 440px;

border-color: #e2e2e2;
border-width: 1px;
border-style: solid;
border-radius: 15px;
margin-left: 35px;
margin-bottom: 35px;
background: #ffffff
}
.cardItems .image{
  position: relative;
}

.hart{
  width: 38px;
height: 38px;


background: #ffffff;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
}
.info p{
  font-family: "ExpoBook";
font-size: 18px;
font-weight: 400;
line-height: 18px;
font-style: normal;
color: #434343 !important;
}

.rate{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 44px;
height: 20px;
color: white;
border-radius: 10px;
line-height: 12px;
background: #11998e
}
.rate span{
  font-family: "ExpoBook";
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  
  margin-right: 1px;
  color: #ffffff;
}

.price{
width: 90px;
height: 30px;
/* opacity: 0.03; */
border-radius: 8px;
text-align: center;
background: #f9fbfb;

}
.price p{
  font-family: "ExpoBook";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: #434343 !important;

 
}
.price  p span{
  
  font-family: "ExpoBook";
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  font-style: normal;
  text-align: left;
  color: #434343 !important;
}
.cart{
  width: 40px;
height: 40px;

border-radius: 22px;


background: #11998e
}
.addTo button {
  width: 70px;
  height: 28px;
border: none;
  border-radius: 8px;
  background:#f9fbfb;
  margin-left: 7px;
  font-family: "ExpoBook";
font-size: 14px;
font-weight: 400;
line-height: 14px;
font-style: normal;
color: #adb6bc;
}

.scrol{
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.scrol::-webkit-scrollbar {
  height: 4px;
}

.scrol::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.scrol::-webkit-scrollbar-thumb {
background-color: #11998e;
}

.footer{

background: #11998e;
background: linear-gradient(180deg, 
#11998e 0.00%, 
#188d83 100.00%);
color: white;

}
.phone{
  margin-bottom: 13px;
 
}
.phone span {
margin-right: 8px;
font-family: "ExpoBook";
font-size: 21px;
font-weight: 300;
/* line-height: 21px; */
font-style: normal;
text-align: left;
letter-spacing: 5px;
color: #ffffff;
}
.vl{
  border-left: 1px solid#ffffff;
  height: 30px !important;
}
.info_last .dash1{
  border-bottom: 1px solid#ffffff;
  width: 4px;
  margin-left: 5px;
  display: inline-block; 
}
.info_last .dash2{
  border-bottom: 1px solid#ffffff;
  width: 100px;
  margin-left: 5px;
  display: inline-block; 
}
.dash1{
  border-bottom: 1px solid#ffffff;
  width: 4px;
  margin-left: 5px;
  display: inline-block;
}
.dash2{
  border-bottom: 1px solid#ffffff;
  width: 55px;
  display: inline-block;
  margin-left: 5px;
}
.info_last .title{
  /* font-family: "ExpoLight"; */
font-size: 26px;
font-weight: 300;
line-height: 26px;
font-style: norm;
color: #ffffff;
}
.info_ .title{
  /* font-family: "ExpoLight"; */
font-size: 26px;
font-weight: 300;
line-height: 26px;
font-style: norm;
color: #ffffff;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.info_last  li{
  font-size: 20px;
font-weight: 300;
line-height: 20px;
font-style: normal;
color: #ffffff;
margin-bottom: 25px;
white-space: nowrap;
}
.info_ li {
  font-size: 20px;
font-weight: 300;
line-height: 20px;
font-style: normal;
color: #ffffff;
white-space: nowrap;

margin-bottom: 25px;
}
.copy_right{
  font-size: 22px;
font-weight: 300;
line-height: 43.229400634765625px;
font-style: normal;
text-align: left;
color: #ffffff;
}
.info_last{
  margin-right: 40px;
}
.info_{
  margin-right: 40px;
}
@media (max-width: 480px) {
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    margin-bottom: 0;
  }
  .logo {
    width: 110px;
    height: 50px;
  }
  .navbar-collapse.collapse.show {
    margin-top: 18px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: right;
  }
  .footerinfo{
    margin-right: 25px;
  }
  .phone {
   
    margin-right: 8px;
  }
  .phone span {margin-right: 67px;}
  .info_last ,.info_{
    margin-right: 0px;
  }
}
